@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html, body {
	height: 100%;
}

body {
	background: #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.form_login,
.form_register {
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	flex-wrap: wrap;
	width: 400px;
	/*height: 500px;*/
	margin-top: 50px;
	padding: 10px 0;
	border-radius: 5px;
	background: #222A53;
	color: #fff;
	box-shadow: 0px 5px 10px #000;
}

.form_login form,
.form_register form {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 90%;
	height: 90%;
}

.form_login form span,
.form_register form span {
	font-size: 1.2em;
}

.form_login form hr,
.form_register form hr {
	width: 100%;
	height: 2px;
	background: #fff;
	border: none;
	margin: 10px 0;
}

.form_login form label,
.form_register form label {
	width: 100%;
	height: 20px;
	text-align: left;
	margin-top: 10px;
}

.form_login form input,
.form_register form input {
	width: 100%;
	height: 40px;
	margin: 5px 0;
	padding: 0 15px;
	border-radius: 10px;
	border: none;
}

.form_login form .login_options,
.form_register form .register_options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 10px;
}

.form_login form .register,
.form_register form .login {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 40%;
}

.form_login .register span,
.form_register .login span {
	font-size: 0.9em;
	width: 100%;
}

.form_login .register a,
.form_register .login a {
	font-size: 0.8em;
	text-decoration: none;
	font-style: italic;
	color: #97BBE7;
}

.form_login .register a:hover,
.form_register .login a:hover {
	color: #fff;
}

.form_login form input[type="submit"],
.form_register form input[type="submit"] {
	width: 40%;
	cursor: pointer;
	transition: background ease 0.3s;
}

.form_login form input[type="submit"]:hover,
.form_register form input[type="submit"]:hover {
	background: #97BBE7;
}

.form_register form .nombre_completo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.form_register form .inputs_name {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.form_register form .inputs_name input {
	width: 48%;
}

footer {
	position: relative;
	bottom: 0;
	right: 0;
	align-self: flex-end;
	width: 100%;
	padding: 10px;
	text-align: right;
	color: #787777;
}